.side-bar
  .side-header
    %p.side-header__name Rungo
    %ul.side-header__lists
      %li.new-list
        %i.fa.fa-edit
      %li.edit-list
        %i.fa.fa-cog
  .groups
    .group
      %p.group__name taeko
      %p.group__message こんにちは
