<div class= "side-bar">
  <div class= "side-header">
      <p class= "side-header__name">Rungo</p>
      <ul class= "side-header__lists">
        <li class= "new-list">
          <i class="fa fa-edit"></i>
         </li>
        <li class= "edit-list">
          <i class="fa fa-cog"></i>
         </li>
       </ul> 
   </div>
  <div class= "groups">
      <div class= "group">
        <p class= "group__name">taeko</p>
        <p class= "group__message">こんにちは</p>
       </div>
     </div>
   </div> 
  </div>   
