<body>
  <div class= "side-bar">
    <div class= "header">
      <div class= "header__box">  
        <p class= "header__name">Rungo</p>
        <ul class= "header__lists">
          <li class= "new-list">
          </li>
          <li class= "edit-list">
          </li>
        </ul> 
      </div>  
    </div>
  </div>
  <div class= "groups">
    <div class= "group">
      <p class= "group__name">taeko</p>
      <p class= "group__message">こんにちは</p>
    </div>  
  </div>
</body>    