<body>
   <div class= "side-bar">
    <div class= "side-header">
        <p class= "side-header__name">Rungo</p>
        <ul class= "side-header__lists">
          <li class= "new-list">
            <i class="fa fa-edit"></i>
          </li>
          <li class= "edit-list">
            <i class="fa fa-cog"></i>
          </li>
        </ul> 
    </div>
    <div class= "groups">
      <div class= "group">
        <p class= "group__name">taeko</p>
        <p class= "group__message">こんにちは</p>
      </div>  
    </div>
  </div> 
  <div class= "main-bar">
    <div class= "header">
      <div class= "left-header">
        <h2 class= "left-header__title">taeko   
        </h2>
         <ul class= "left-header__users">"Members":"
          <li class= "user">Rungo</li>
         </ul>
       </div>     
      <div class= "right-header">
       <div class= "right-header__button">Edit</div>   
       </div>
      </div>   
   <div class= "messages">
    <div class= "message">
      <div class= "upper-message">
        <p class= "upper-message__username">Rungo</p>
        <p class= "upper-message__date">2019/08/25(sun) 15:49:18</p>
       </div> 
      <div class= "lower-message">
        <p class= "lower-message__content">こんにちは</p>  
       </div>
     </div>
   </div>
   <div class="form">
     <form class="new_message">
       <div class="form__message" >
          <input class="form__mask" placeholder= "type a message">
            <label class="form__image">
              <i class="fa fa-image"></i>
              <input class="hidden">
             </label>
          <input class="submit__btn" input type="submit" name="commit" value= "Send">
         </div>
       </form>
     </div>
   </div> 
</body>    