%body
  .wrapper
    = render partial: "side_bar"
    .main-bar
      .header
        .left-header
          %h2.left-header__title
            taeko
          %ul.left-header__users
            "Members":"
            %li.user Rungo
        .right-header
          .right-header__button Edit
      .messages
        .message
          .upper-message
            %p.upper-message__username Rungo
            %p.upper-message__date 2019/08/25(sun) 15:49:18
          .lower-message
            %p.lower-message__content こんにちは
      .form
        %form.new_message
          .form__message
            %input.form__mask{:placeholder => "type a message"}/
            %label.form__image{:for => "message_image"}
              %i.fa.fa-picture-o
              %input#message_image.hidden{:name => "message[image]", :type => "file"}/
            %input.submit__btn{:input => "", :name => "commit", :type => "submit", :value => "Send"}/
