%body
  .side-bar
    .side-header
        %p.side-header__name Rungo
        %ul.side-header__lists
          %li.new-list
            %i.fa.fa-edit
          %li.edit-list
            %i.fa.fa-cog
    .groups
      .group
        %p.group__name taeko
        %p.group__message こんにちは
  .main-bar
    .header
      .left-header
        %h2.left-header__title
          taeko
         %ul.left-header__users
          "Members:"
          %li.user Rungo
      .right-header    
        .right-header__button Edit
    .messages
        .message
          .upper-message
            %p.upper-message__username Rungo
            %p.upper-message__date 2019/08/25(sun) 15:49:18
          .lower-message
            %p.lower-message__content こんにちは
