%body
  .side-bar
    .header
      .header__box
        %p.header__name Rungo
        %ul.header__lists
          %li.new-list
          %li.edit-list
  .groups
    .group
      %p.group__name taeko
      %p.group__message こんにちは
