.side-bar {
  float: left;
  height: 100%;
  width: 300px;
  color: white;
  margin: 0;
  padding: 0;
}
.side-header {
  background-color: #253141;
  display: flex;
  align-items: center;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
}
.side-header__name {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.side-header__lists {
  display: flex;
  padding-left: 180px;
  float: right;
}
.new-list {
  display: inline-block;
  margin-left: 0.3rem;
}  
.edit-list {
  margin-left: 0.3rem;  
}
.groups {
  height: calc(100vh - 100px);
  width: 260px;
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow:scroll;
  float: left;
}
.group {
  margin-bottom: 40px;
}
.group__name {
  font-size: 15px;
  margin-bottom: 15px;
}
.group__message {
  font-size: 11px;
}
.main-bar {
  width: calc(100vw - 300px);
  height: 714px;
  float: right;
}
.header {
  box-sizing: border-box;
  height: 100px;
  padding: 0 40px;
  background-color: #fafafa;
}
.left-header {
  float: left;
  margin-top: 35px; 
  padding-right: 150px;
}
.left-header__title {
  display: flex;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  width: 100px;
}
.left-header__users {
  display: flex;
  font-size: 12px;
  color: #999;
}
.user {
  display: inline-block;
  padding-right: 5px;
}
.right-header__button {
  color: #38aef0;
  height: 40px;
  line-height: 40px;
  float: right;
  padding: 0 20px;
  margin-top: 28px;
  border: 1px solid #38aef0;
}
.messages {
  background-color: #fafafa;
  box-sizing: border-box;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}
.message {
  padding-bottom: 40px;
}
.upper-message {
  display: flex;
}
.upper-message__username {
  color: #434a54;
  font-size: 16px;
  font-weight: bold;
}
.upper-message__date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.lower-message {
 margin-top: 10px;
}
.lower-message__content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.form {
  background-color: #ddd;
  height: 90px;
  padding: 20px 40px 0;
}
.form__message {
  border: none;
  float: left;
  height: 50px;
  width: calc(100vw - 400px);
  padding-left: 10px; 
  position: relative;
}
.form__mask {
  background-color: white;
  float: left;
  width: 400px;
  height: 50px;
  padding-right: 20px;
}
.form__image {
  font-size: 20px;
  line-height: 50px;
  position: relative;
  right: 50px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.submit__btn {
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 30px;
  cursor: pointer;
}